@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.nav{
  justify-content:space-between;
}
.nav ul li{
  display:inline-block;
  padding:10px 30px;


}
.nav ul li a{
  text-decoration:none;
  color:black;
  font-weight:bold;



}
#logo{
  font-family: pacifico;
}
.showcase{
  height:80vh;
 
  justify-content: space-around;
}
.card{
  height:100px;
}
#card-image{
  height:300px;
  width:300px;

}
#card-button{
  color: white;
  float:right;
  background-color: black;
  border-radius: 1.5rem;
  border: 2px solid white;
  font-weight: bold;
}
#ksh{
  font-weight: bold;
}
#cart{
  border-radius: 20px;
  color: white;
  width: 40px;
  height: 40px;
}