<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thriftdrips2</title>
    <link href="CSS/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <header>
        <div class="nav">
            <h1 id="logo">Thrift<span id="theword">drips</span></h1>
            <ul>
                <li><a href="index.html">home</a></li>
                <li><a href="about.html">about</a></li>
                <li ><a href="categories.html">categories</a></li>
                <li ><a  id="nav"href="contact.html">contact</a></li>
            </ul>

        </div>

    </header>
    <main>
        <div class="showcase">

        </div>

    </main>
    <footer>
        <div class="footer">
            <div class="footer-right">
                <p id="info"><img id="Icons" src="Images/call.jpg"> +254137456789</p>
                <p id="info"><img id="Icons" src="Images/gmail.png"> Thriftdrips2@gmail.com</p>
    

            </div>
            <div class="footer-left">
               <ul>
                
                <li><a href="https://www.instagram.com/thrift_.trendy/"><img id="icons" src="Images/ig.png"></a></li>
                <li><a href=""><img id="icons" src="Images/fb.png"></a></li>
                <li><a href=""><img id="icons"src="Images/tl.png"></a></li>
               


               </ul>

            </div>

          
        </div>

    </footer>

    
</body>
</html>